/JavaApplication13/nbproject/private/
/PARCIAL/nbproject/private/
/PARCIAL/build/
/TALLER/nbproject/private/
/TALLER/build/
/tallerPto2/nbproject/private/
/tallerPto2/build/
/tallerPto3/nbproject/private/
/tallerPto3/build/
/tallerPto4/nbproject/private/
/tallerPto4/build/
/tallerPto5/nbproject/private/
/tallerPto5/build/
/tallerPto6/nbproject/private/